<style>
 /* Reset styles */
* {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  background-color: transparent;
}

/* Header styles */
header {
  font: arial;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
}

.menu-parent {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.menu {
  display: flex;
  font-size: 0;
  letter-spacing: -1px;
}

.menu .box a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  justify-content: flex-start;  
}

/* Main content styles */
section {
  background-color: transparent;
  border: none;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-size: 4rem;
  color: white;
  font-family:'Times New Roman', Times, serif;
}

h2, h3, h4 {
  display: flex;
  margin-right: 20px;
  font-size: 30px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav li {
  margin: 0 10px;
}

nav a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
}

main {
  max-width: 800px;
  background-color: transparent;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Footer styles */
footer {
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 10px;
  text-align: center;
}

section p {
  background-color: transparent;
  border: none;
}
	/* Define the colors for the 3D effect */
:root {
    --main-color: #0077ff;
    --dark-color: #0058a3;
    --light-color: #5caeff;
}

/* Define the animation for the 3D effect */
@keyframes neon {
    0% {
        text-shadow: 0 0 10px var(--dark-color),
        0 0 20px var(--dark-color),
        0 0 30px var(--dark-color),
        0 0 40px var(--main-color),
        0 0 70px var(--main-color),
        0 0 80px var(--main-color),
        0 0 100px var(--main-color),
        0 0 150px var(--main-color);
    }
    100% {
        text-shadow: 0 0 5px var(--dark-color),
        0 0 10px var(--dark-color),
        0 0 15px var(--dark-color),
        0 0 20px var(--main-color),
        0 0 35px var(--main-color),
        0 0 40px var(--light-color),
        0 0 50px var(--light-color),
        0 0 75px var(--light-color);
    }
}
body {
  background-color: #0A192F;
}
</style> 
